<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 px-0">
      <div class="card">
        <form>
          <div class="card-body">
            <h4 class="card-title">
              <span>Sygnatura użytkownika (pobierane z syllabusa)</span>
            </h4>
            <p-toast position="bottom-center"></p-toast>
          </div>
          <hr>
          <div class="card-body">
            <h5 class="card-title">Informacje podstawowe</h5>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="degreeSelection" class="control-label col-form-label">Stopień/ tytuł</label>
                  <select [(ngModel)]="userSignature.degree" name="positionSelect" class="form-control" id="degreeSelection">
                    <option *ngFor="let degree of degrees" value="{{degree}}">{{degree}}</option>
                  </select>
                  <small class="differ" *ngIf="userSignature?.degree !== userSignatureCopy?.degree">
                    {{userSignatureCopy?.degree}}
                  </small>
                </div>
              </div>
              <div class="col-sm-12 col-md-3">
                <div class="form-group">
                  <label for="firstNameInput" class="control-label col-form-label">Imię</label>
                  <input [(ngModel)]="userSignature.firstName" type="text" class="form-control" name="firstName"
                         id="firstNameInput">
                  <small class="differ" *ngIf="userSignature?.firstName !== userSignatureCopy?.firstName">
                    {{userSignatureCopy?.firstName}}
                  </small>
                </div>
              </div>
              <div class="col-sm-12 col-md-3">
                <div class="form-group">
                  <label for="lastNameInput" class="control-label col-form-label">Nazwisko</label>
                  <input [(ngModel)]="userSignature.lastName" type="text" class="form-control" name="lastNameLimit" id="lastNameInput">
                  <small class="differ" *ngIf="userSignature?.lastName !== userSignatureCopy?.lastName">
                    {{userSignatureCopy?.lastName}}
                  </small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-3">
                <div class="form-group">
                  <label for="emailInput" class="control-label col-form-label">Email</label>
                  <input [(ngModel)]="userSignature.email" type="text" class="form-control" name="email" id="emailInput">
                  <small class="differ" *ngIf="userSignature?.email !== userSignatureCopy?.email">
                    {{userSignatureCopy?.email}}
                  </small>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="card-body">
            <h5 class="card-title">Powiązane</h5>
            <div class="row">
              <div class="col-sm-6 col-md-3">
                <div class="form-group">
                  <label for="modulesInChargeoverButton" class="control-label col-form-label">Odpowiedzialny za moduły</label>
                  <button type="button" (click)="loadModulesInCharge()" data-toggle="modal" id="modulesInChargeoverButton" data-target="#modules-in-charge"
                          class="btn btn-primary form-control">
                    <h5>Wyświetl moduły</h5>
                  </button>
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div class="form-group">
                  <label for="modulesInManagementButton" class="control-label col-form-label">Prowadzący moduły</label>
                  <button type="button" (click)="loadModulesInManagement()" data-toggle="modal" id="modulesInManagementButton" data-target="#modules-in-management"
                          class="btn btn-primary form-control">
                    <h5>Wyświetl moduły</h5>
                  </button>
                </div>
              </div>
            </div>

          </div>
          <hr>
          <div class="card-body">
            <div class="action-form">
              <div class="form-group m-b-0 text-right">
                <button *ngIf="outsourced" type="submit" (click)="onCancelChange()" data-dismiss="modal" class="btn btn-dark waves-effect waves-light float-left"><i
                  class="fas fa-chevron-left"></i> Powrót
                </button>
                <button type="button" (click)="clear()" data-dismiss="modal" class="btn btn-dark waves-effect waves-light ml-1">Wyczyść</button>
                <button *ngIf="outsourced" type="button" (click)="onConfirmChange(); update()" data-dismiss="modal" class="btn btn-info m-r-5 waves-effect waves-light ml-1">Zapisz</button>
                <button  type="button" (click)="saveOrUpdate()" data-dismiss="modal" class="btn btn-info m-r-5 waves-effect waves-light ml-1">Zapisz</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<common-modal [id]="'modules-in-charge'"
              [header]="'Wybierz prowadzone moduły'"
>
  <ng-template let-desc="description">
    <app-module-general-information-list-view [(selectedModuleGeneralInformationIds)]="userSignature.modulesInChargeoverIds" (selectionsReloaded)="shouldLoadModules = false" [loadSelections]="shouldLoadModules"></app-module-general-information-list-view>
  </ng-template>
</common-modal>

<common-modal [id]="'modules-in-management'"
              [header]="'Wybierz powiązane moduły'"
>
  <ng-template let-desc="description">
    <app-module-general-information-list-view [(selectedModuleGeneralInformationIds)]="userSignature.modulesInManagementIds" (selectionsReloaded)="shouldLoadModules = false" [loadSelections]="shouldLoadModules"></app-module-general-information-list-view>
  </ng-template>
</common-modal>
