<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 px-0">
      <div *ngIf="!loading" class="card">
        <form>
          <div class="card-body">
            <h4 class="card-title">
              <span>Aktywacja użytkownika</span>
            </h4>
            <p-toast position="bottom-center"></p-toast>
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <span class="badge badge-info">
                            <i class="fas fa-info m-r-5"></i>
                        </span>
              <strong> Informacje wyświetlane dla: {{user.firstName}} {{user.lastName}} [{{user.identity}}]</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
          <hr>
          <div class="card-body">
            <h5 class="card-title">Informacje podstawowe</h5>
            <div class="row">
              <div class="col-sm-12 col-md-3">
                <div class="form-group">
                  <label for="firstnameInput" class="control-label col-form-label">Imię</label>
                  <input [(ngModel)]="user.firstName" type="text" class="form-control" name="firstname"
                         id="firstnameInput" placeholder="Imię">
                  <small class="differ" *ngIf="user?.firstName !== userCopy?.firstName">
                    {{userCopy?.firstName}}
                  </small>
                </div>
              </div>
              <div class="col-sm-12 col-md-3">
                <div class="form-group">
                  <label for="surnameInput" class="control-label col-form-label">Nazwisko</label>
                  <input [(ngModel)]="user.lastName" type="text" class="form-control" name="surname" id="surnameInput"
                         placeholder="Nazwisko">
                  <small class="differ" *ngIf="user?.lastName !== userCopy?.lastName">
                    {{userCopy?.lastName}}
                  </small>
                </div>
              </div>
              <div class="col-sm-12 col-md-3">
                <div class="form-group">
                  <label for="emailInput" class="control-label col-form-label">Email</label>
                  <input [(ngModel)]="user.email" type="text" class="form-control" name="email" id="emailInput"
                         placeholder="Email">
                  <small class="differ" *ngIf="user?.email !== userCopy?.email">
                    {{userCopy?.email}}
                  </small>
                </div>
              </div>
              <div class="col-sm-12 col-md-2">
                <div class="form-group">
                  <label for="usernameInput" class="control-label col-form-label">Username</label>
                  <input [(ngModel)]="user.username" type="text" class="form-control" name="username" id="usernameInput"
                         placeholder="Username">
                  <small class="differ" *ngIf="user?.username !== userCopy?.username">
                    {{userCopy?.username}}
                  </small>
                </div>
              </div>
              <div class="col-sm-12 col-md-1">
                <div class="form-group">
                  <label for="identityInput" class="control-label col-form-label">Id</label>
                  <input [(ngModel)]="user.identity" type="text" class="form-control" name="identity" id="identityInput"
                         placeholder="Id">
                  <small class="differ" *ngIf="user?.identity !== userCopy?.identity">
                    {{userCopy?.identity}}
                  </small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="roleSelection" class="control-label col-form-label">RoleType użytkownika</label>
                  <p-multiSelect [options]="roleItems" [(ngModel)]="user.roles" [filter]="false"
                                 defaultLabel="Wybierz role" name="roleSelect" id="roleSelection"></p-multiSelect>
                  <small class="differ" *ngIf="JSON.stringify(user?.roles?.sort()) !=  JSON.stringify(userCopy?.roles?.sort())">
                    {{userCopy?.roles}}
                  </small>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="degreeSelection" class="control-label col-form-label">Stopień użytkownika</label>
                  <select class="form-control" [(ngModel)]="user.degree" name="degreeSelect"
                          id="degreeSelection">
                    <option *ngFor="let degree of degrees" value="{{degree}}">{{degree}}</option>
                  </select>
                  <small class="differ" *ngIf="user?.degree !== userCopy?.degree">
                    {{userCopy?.degree}}
                  </small>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="positionSelection" class="control-label col-form-label">Stanowisko użytkownika</label>
                  <select [(ngModel)]="user.position" name="positionSelect" class="form-control" id="positionSelection">
                    <option *ngFor="let position of positions" value="{{position}}">{{position}}</option>
                  </select>
                  <small class="differ" *ngIf="user?.position !== userCopy?.position">
                    {{userCopy?.position}}
                  </small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label class="control-label col-form-label">Dodaj plik</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Upload</span>
                    </div>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputGroupFile01">
                      <label class="custom-file-label" for="inputGroupFile01">Wybierz plik</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label class="control-label col-form-label">Uwagi</label>
                  <textarea [(ngModel)]="user.note" class="form-control" name="notes" placeholder="Uwagi"></textarea>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="card-body">
            <div class="action-form">
              <div class="form-group m-b-0 text-right">
                <button data-dismiss="modal" type="submit" class="btn btn-dark waves-effect waves-light float-left"><i
                  class="fa fa-chevron-left"></i> Powrót
                </button>
                <button type="submit" (click)="onCancelChange()" data-dismiss="modal" class="btn btn-dark waves-effect waves-light">Szczegóły</button>
                <button type="submit" (click)="onCancelChange()" data-dismiss="modal" class="btn btn-dark waves-effect waves-light ml-1">Anuluj</button>
                <button type="submit" (click)="onConfirmChange()" data-dismiss="modal" class="btn btn-info m-r-5 waves-effect waves-light ml-1">Zapisz</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="loading">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      </div>
    </div>
  </div>
</div>
