<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 px-0">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            <span>Moduł</span>
          </h4>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-sm-12">
              <p-toast position="bottom-center"></p-toast>
              <p-table #dt [columns]="columns"
                       [value]="modules"
                       selectionMode="multiple"
                       [(selection)]="selectedModules"
                       [paginator]="true"
                       [rows]="15"
                       [pageLinks]="20"
                       [loading]="loading"
                       [rowsPerPageOptions]="[10,15,20,25]" [autoLayout]="true"
                       (onEditComplete)="getRow($event)"
                       (onEditCancel)="onCancel($event)"
                       (onEditInit)="onEditInitialization($event)"
              >
                <ng-template pTemplate="caption">
                  <div style="text-align: right">
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText size="50" placeholder="Filtruj globalnie"
                           (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                  </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>


                  <tr>
                    <th *ngIf="selectionType != SelectionType.NONE">
                      <p-tableHeaderCheckbox *ngIf="selectionType == SelectionType.CHECKBOX" [attr.rowspan]="getDeepestColumnsChildColumnLevel(columns)"></p-tableHeaderCheckbox>
                      <p-tableRadioButton *ngIf="selectionType == SelectionType.RADIOBUTTON" [attr.rowspan]="getDeepestColumnsChildColumnLevel(columns)"></p-tableRadioButton>
                    </th>
                    <ng-container *ngFor="let col of columns">
                      <ng-container *ngIf="!col.childColumns">
                        <th [pSortableColumn]="col.field" [attr.rowspan]="getDeepestColumnsChildColumnLevel(columns)">
                          {{col.header}}
                          <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                      </ng-container>
                      <ng-container *ngIf="col.childColumns">
                        <th [pSortableColumn]="col.field+'.'+col.childColumns[0].field"
                            [attr.colspan]="getChildColumns(col)">
                          {{col.header}}
                          <p-sortIcon [field]="col.field+'.'+col.childColumns[0].field"></p-sortIcon>
                        </th>
                      </ng-container>
                    </ng-container>
                  </tr>

                  <tr>
                    <th *ngIf="selectionType != SelectionType.NONE">
                    </th>
                    <ng-container *ngFor="let col of columns">
                      <ng-container *ngIf="!col.childColumns">
                        <th *ngFor="let childCol of col.childColumns" [pSortableColumn]="col.field+'.'+childCol.field">
                          {{childCol.header}}
                          <p-sortIcon [field]="col.field+'.'+childCol.field"></p-sortIcon>
                        </th>
                      </ng-container>
                      <ng-container *ngIf="col.childColumns">
                        <th *ngFor="let childCol of col.childColumns" [pSortableColumn]="col.field+'.'+childCol.field">
                          {{childCol.header}}
                          <p-sortIcon [field]="col.field+'.'+childCol.field"></p-sortIcon>
                        </th>
                      </ng-container>
                    </ng-container>
                  </tr>

                  <!--FILTERS-->
                  <tr>

                    <th *ngIf="selectionType != SelectionType.NONE">
                    </th>

                    <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                      <ng-container *ngIf="!col.childColumns">
                        <th>
                          <p-multiSelect [panelStyle]="{'font-size': '12px'}" appendTo="body" *ngSwitchCase="'code'"
                                         [options]="codeItems" (onChange)="dt.filter($event.value, col.field, 'in')"
                                         defaultLabel="Wybierz kody"
                                         [maxSelectedLabels]="1"
                                         selectedItemsLabel="Wybranych: {0}"
                          ></p-multiSelect>
                          <input style="width: 100%;" *ngSwitchCase="'name'" pInputText type="text"
                                 (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                          <!--<p-multiSelect *ngSwitchCase="'user'" [options]="userItems"
                                         (onChange)="dt.filter($event.value.email, col.field.email, 'in')"
                                         defaultLabel="Wybierz użytkowników"
                                         [maxSelectedLabels]="1"
                                         selectedItemsLabel="Wybranych: {0}"
                          ></p-multiSelect>-->
                          <p-dropdown *ngSwitchCase="'type'" [options]="moduleTypeItems" [style]="{'width':'100%'}"
                                      (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
                          <p-dropdown *ngSwitchCase="'semester'" [options]="moduleTypeItems" [style]="{'width':'100%'}"
                                      (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
                          <p-dropdown *ngSwitchCase="'examType'" [options]="moduleTypeItems" [style]="{'width':'100%'}"
                                      (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
                        </th>
                      </ng-container>
                      <ng-container *ngIf="col.childColumns">
                        <th *ngFor="let childCol of col.childColumns" [ngSwitch]="childCol.field">
                          <input style="width: 100%;" *ngSwitchCase="'lecture'" pInputText type="text"
                                 (input)="dt.filter($event.target.value, [col.field]+'.'+[childCol.field], childCol.filterMatchMode)">
                          <input style="width: 100%;" *ngSwitchCase="'laboratory'" pInputText type="text"
                                 (input)="dt.filter($event.target.value, [col.field]+'.'+[childCol.field], childCol.filterMatchMode)">
                          <input style="width: 100%;" *ngSwitchCase="'blackboard'" pInputText type="text"
                                 (input)="dt.filter($event.target.value, [col.field]+'.'+[childCol.field], childCol.filterMatchMode)">
                          <input style="width: 100%;" *ngSwitchCase="'project'" pInputText type="text"
                                 (input)="dt.filter($event.target.value, [col.field]+'.'+[childCol.field], childCol.filterMatchMode)">
                          <input style="width: 100%;" *ngSwitchCase="'seminar'" pInputText type="text"
                                 (input)="dt.filter($event.target.value, [col.field]+'.'+[childCol.field], childCol.filterMatchMode)">
                          <input style="width: 100%;" *ngSwitchCase="'elearning'" pInputText type="text"
                                 (input)="dt.filter($event.target.value, [col.field]+'.'+[childCol.field], childCol.filterMatchMode)">
                          <input style="width: 100%;" *ngSwitchCase="'other'" pInputText type="text"
                                 (input)="dt.filter($event.target.value, [col.field]+'.'+[childCol.field], childCol.filterMatchMode)">
                          <input style="width: 100%;" *ngSwitchCase="'laboratoryClassLimit'" pInputText type="text"
                                 (input)="dt.filter($event.target.value, [col.field]+'.'+[childCol.field], childCol.filterMatchMode)">
                          <input style="width: 100%;" *ngSwitchCase="'blackboardClassLimit'" pInputText type="text"
                                 (input)="dt.filter($event.target.value, [col.field]+'.'+[childCol.field], childCol.filterMatchMode)">
                          <input style="width: 100%;" *ngSwitchCase="'projectClassLimit'" pInputText type="text"
                                 (input)="dt.filter($event.target.value, [col.field]+'.'+[childCol.field], childCol.filterMatchMode)">
                          <input style="width: 100%;" *ngSwitchCase="'seminarClassLimit'" pInputText type="text"
                                 (input)="dt.filter($event.target.value, [col.field]+'.'+[childCol.field], childCol.filterMatchMode)">
                        </th>
                      </ng-container>
                    </ng-container>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns">

                  <tr>

                    <th *ngIf="selectionType != SelectionType.NONE">
                      <p-tableCheckbox *ngIf="selectionType == SelectionType.CHECKBOX" [value]="rowData"></p-tableCheckbox>
                      <p-tableRadioButton *ngIf="selectionType == SelectionType.RADIOBUTTON" [value]="rowData"></p-tableRadioButton>
                    </th>

                    <ng-container *ngFor="let col of columns">
                      <ng-container *ngIf="!col.childColumns">

                        <td
                          *ngIf="col.field != 'user' && col.field != 'actions' && col.field != 'type' && col.field != 'semester' && col.field != 'examType'"
                          pEditableColumn [pEditableColumn]="rowData" [pEditableColumnField]="col.field">
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <input type="text" [(ngModel)]="rowData[col.field]">
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{rowData[col.field]}}
                            </ng-template>
                          </p-cellEditor>
                        </td>

                        <!--<td *ngIf="col.field == 'user'" pEditableColumn [pEditableColumn]="rowData"
                            [pEditableColumnField]="col.field">
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <div class="container">
                                <div class="row flex-nowrap">
                                  <div class="col-sm-2 pl-0 mr-1">
                                    <div class="d-inline-block">
                                      <button (click)="selectUser(rowData[col.field])" data-toggle="modal"
                                              data-target="#edit-modal" class="btn btn-primary btn-xsm">
                                        <i class="fas fa-edit"></i>
                                      </button>
                                    </div>
                                  </div>
                                  <div class="col-sm-2 pl-0 mr-1">
                                    <div>
                                      <button (focus)="blur($event)" class="btn btn-primary btn-xsm">
                                        <i class="fas fa-check"></i>
                                      </button>
                                    </div>
                                  </div>
                                  <div class="col-sm-8 text-left text-nowrap">
                                    {{rowData[col.field].email}}
                                  </div>
                                </div>
                              </div>
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{rowData[col.field].email}}
                            </ng-template>
                          </p-cellEditor>
                        </td>-->

                        <td *ngIf="col.field == 'user'" class="text-center">
                          <button (click)="markUser(rowData)" data-target="#user" data-toggle="modal"
                                  class="btn btn-primary btn-xsm mr-2 w-100">Wyświetl
                          </button>
                        </td>

                        <td *ngIf="col.field == 'type'" pEditableColumn [pEditableColumn]="rowData"
                            [pEditableColumnField]="col.field">
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <select [(ngModel)]="rowData[col.field]" (change)="onTypeSelectChange($event)">
                                <option *ngFor="let classType of classTypes" value="{{classType}}">{{classType}}
                                </option>
                              </select>
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{rowData[col.field]}}
                            </ng-template>
                          </p-cellEditor>
                        </td>

                        <td *ngIf="col.field == 'semester'" pEditableColumn [pEditableColumn]="rowData"
                            [pEditableColumnField]="col.field">
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <select [(ngModel)]="rowData[col.field]" (change)="onSemesterSelectChange($event)">
                                <option *ngFor="let semester of semesters" value="{{semester}}">{{semester}}</option>
                              </select>
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{rowData[col.field]}}
                            </ng-template>
                          </p-cellEditor>
                        </td>

                        <td *ngIf="col.field == 'examType'" pEditableColumn [pEditableColumn]="rowData"
                            [pEditableColumnField]="col.field">
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <select [(ngModel)]="rowData[col.field]" (change)="onExamTypeSelectChange($event)">
                                <option *ngFor="let examType of examTypes" value="{{examType}}">{{examType}}</option>
                              </select>
                            </ng-template>
                            <ng-template pTemplate="output">
                              {{rowData[col.field]}}
                            </ng-template>
                          </p-cellEditor>
                        </td>

                        <td *ngIf="col.field == 'actions'" pEditableColumn [pEditableColumn]="rowData"
                            style="cursor: default"
                            [pEditableColumnField]="col.field" class="text-right">
                          <p-cellEditor>
                            <ng-template pTemplate="input">
                              <div class="container px-0">
                                <div class="row no-gutters flex-nowrap">
                                  <div class="col-sm-4 px-0 mr-1">
                                    <button [routerLink]="['/modules/' + rowData['id']]"
                                            pTooltip="Szczegóły"
                                            class="btn btn-primary btn-xsm">
                                      <i class="fas fa-search-plus"></i>
                                    </button>
                                  </div>
                                  <div class="col-sm-4 px-0 mr-1">
                                    <button (click)="mark(rowData)" data-target="#delete-modal" data-toggle="modal"
                                            class="btn btn-primary btn-xsm" pTooltip="Usuń">
                                      <i class="fas fa-trash"></i>
                                    </button>
                                  </div>
                                  <div class="col-sm-4 px-0 mr-1">
                                    <button (click)="mark(rowData)" data-target="#update-modal" data-toggle="modal"
                                            pTooltip="Zapisz" class="btn btn-primary btn-xsm mr-2">
                                      <i class="fas fa-check"></i>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </ng-template>
                            <ng-template pTemplate="output">
                              <div class="container px-0">
                                <div class="row no-gutters flex-nowrap">
                                  <div class="col-sm-4 px-0 mr-1">
                                    <button [routerLink]="['/modules/' + rowData['id']]"
                                            pTooltip="Szczegóły"
                                            class="btn btn-primary btn-xsm">
                                      <i class="fas fa-search-plus"></i>
                                    </button>
                                  </div>
                                  <div class="col-sm-4 px-0 mr-1">
                                    <button (click)="mark(rowData)" data-target="#delete-modal" data-toggle="modal"
                                            class="btn btn-primary btn-xsm" pTooltip="Usuń">
                                      <i class="fas fa-trash"></i>
                                    </button>
                                  </div>
                                  <div class="col-sm-4 px-0 mr-1">
                                    <button (click)="mark(rowData)" data-target="#update-modal" data-toggle="modal"
                                            pTooltip="Zapisz" class="btn btn-primary btn-xsm mr-2">
                                      <i class="fas fa-check"></i>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </ng-template>
                          </p-cellEditor>
                        </td>

                      </ng-container>
                      <ng-container *ngIf="col.childColumns">
                        <ng-container *ngFor="let childCol of col.childColumns">

                          <td pEditableColumn [pEditableColumn]="rowData" [pEditableColumnField]="childCol.field"
                              class="text-right" [pTooltip]="childCol.header" [tooltipPosition]="'bottom'">
                            <p-cellEditor>
                              <ng-template pTemplate="input">
                                <input type="number" [(ngModel)]="rowData[col.field][childCol.field]"
                                       class="input-small text-right">
                              </ng-template>
                              <ng-template pTemplate="output">
                                {{rowData[col.field] ? (rowData[col.field][childCol.field] != null ?
                                rowData[col.field][childCol.field] : "-") : '-'}}
                              </ng-template>
                            </p-cellEditor>
                          </td>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>

<common-modal *ngIf="selectedUserCopy"
  [id]="'user'"
  [header]="'Edycja kroku'"
>
  <ng-template let-desc="description">
    <div class="container">
      <user [(user)]="selectedUserCopy" (onConfirm)="saveUser($event)" (onCancel)="consolecancel()" [outsourced]="true" [loading]="reloadSelectedUserId"></user>
    </div>
  </ng-template>
</common-modal>

<confirmation-modal
  [id]="'delete-modal'"
  [header]="'Potwierdzenie usunięcia'"
  [description]="'Czy napewno chcesz usunąć wybrany rekord?'"
  [closeDescription]="'Nie'"
  [confirmDescription]="'Tak'"
  (onConfirm)="delete()">
</confirmation-modal>

<confirmation-modal
  [id]="'update-modal'"
  [header]="'Potwierdzenie aktualizacji'"
  [description]="'Czy napewno chcesz zaktualizować wybrany rekord?'"
  [closeDescription]="'Nie'"
  [confirmDescription]="'Tak'"
  (onConfirm)="update()">
</confirmation-modal>
