<div class="d-flex align-items-center justify-content-center mt-5">
  <div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="mt-5 px-5">
      <div class="text-center card-img-top">
        <span class="fa-stack fa-5x">
          <i class="far fa-circle fa-stack-2x"></i>
          <i class="fas fa-user-graduate fa-stack-1x"></i>
        </span>
      </div>
      <div class="row card-body">
        <div class="col-12 card-text">
          <form (submit)="onSubmit()" class="form-horizontal mt-5">
            <div class="input-group mb-5">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-key"></i>
                </span>
              </div>
              <input [(ngModel)]="password" name="password" type="text" class="form-control form-control-lg" placeholder="Hasło" aria-label="Password">
            </div>
            <div class="input-group mb-5">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-key"></i>
                </span>
              </div>
              <input [(ngModel)]="passwordConfirmation" name="passwordConfirmation" type="text" class="form-control form-control-lg" placeholder="Powtórz hasło" aria-label="Repassword">
            </div>
            <div class="form-group text-center">
              <div class="col-xs-12 pb-5">
                <button type="submit" class="btn btn-block btn-lg btn-info">
                  Ustaw hasło
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
